#dialog-cart-form{
    width:700px;
}

#dialog-cart-form table{
    border-collapse:separate;
}

#dialog-cart-form th{
    padding:5px;
    vertical-align:middle;
    color:#444;
    background:#ddd;
}

#dialog-cart-form td{
    padding:5px;
    vertical-align:middle;
}

#dialog-cart-form .row-even td{
    background:#eee;
}

#dialog-cart-form .row-odd td{
    background:#fff;
}

#dialog-cart-form .item-image-col{
    text-align:left;
    width:10%;
}

#dialog-cart-form .item-name-col{
    text-align:left;
    width:50%;
}

#dialog-cart-form .item-price-col{
    text-align:right;
    width:10%;
}

#dialog-cart-form .item-qty-col{
    text-align:right;
    width:10%;
}

#dialog-cart-form .item-subtotal-col{
    text-align:right;
    width:10%;
}

#dialog-cart-form .item-delete-col{
    text-align:right;
    width:10%;
}