table.table-order-details
{
   width:100%;
   border-collapse:separate;
   border-spacing:5px;
   border:1px solid #999;
}
table.table-order-details th, table.table-order-details td{
   padding:2px;
   border:1px solid #999;
}
table.table-order-details td.a-right{
   text-align:right;
}