/* main */
#page{min-width: 1100px; padding:0;}
header{padding-top:15px; margin-top:-20px;}
footer{}
aside{}
#errors{color:red;}
.required, .red{color:red;}
.success, .green{color:green;}
.fl{float:left;}
.fr{float:right;}
.navbar .btn {margin-top:0;}
a, a:focus {outline: none;}
h1, h2{color: #333; text-transform: uppercase; border-bottom: 1px solid #00ABF0;}
h1{font-size: 180%;}
h2{font-size: 130%;}
.table-bordered{border-radius: 0;}

.header{height: 115px;}
header .navbar .nav>li>a{padding-left: 30px; padding-right: 30px;}
header .navbar .nav>li>a.btn{padding: 5px 10px; margin: 10px 0 0 10px; text-transform: uppercase;}

.breadcrumb{padding: 0; background: none;}

.wrapper{width: 1100px; margin: 0 auto;}

.well{ background: none; border-radius: 0; border: 1px solid #ddd;}

/* Sidebar */
.left-sidebar{width: 223px; float: left;}
.left-sidebar .sidebar-box{border: 1px solid #ddd; padding: 15px 0; text-align: center;}
.left-sidebar .news-list{padding: 0;}
.left-sidebar .news-list small{background: #ddd; padding: 3px;}
.left-sidebar .news-list a{color: #777;}
.left-sidebar .news-list a:hover{background: none; color:#3498db;}

.main{width: 852px; float: left; margin: 0 0 0 25px;}

/* logo */
.main-logo{display: block; background: url('../img2/logo.png') 0 0; width: 197px; height: 84px;}

/* phones */
.phones-line{text-align: center;}
.phone-number{font-size: 14px;font-weight: bold;color: #444; line-height: 150%;}
.phone-highlight{color:#444;}
.phone-operator{font-weight: normal;color:#777;}

/* call center */
.call-center-title{font-size: 13px; color: #999; line-height: 220%;}
.call-center-row{font-size: 16px; color: #666; line-height: 190%;}

.info-bar{background: #ededed; border-bottom: 1px solid #e8e8e8; border-top: 1px solid #e8e8e8; height:32px; line-height: 32px; margin: 14px 0;}

.flag-ua{ display: inline-block; background: url('../img/sprites.png') -130px -350px; width: 18px; height: 12px; }
.flag-ru{ display: inline-block; background: url('../img/sprites.png') -130px -375px; width: 18px; height: 12px; }

/* cart */
#cart{
    background: url('../img2/cart-blue-icon.png') no-repeat;
    min-height: 100px;
    padding: 5px 0 0 50px;
}
#cart h3{display:none;}

/* catalog */
.navbar h2.catalog{font-size: 16px; text-transform: uppercase; text-align: center; color: #fff; display: block; float: left; background: #E2A82B; width: 223px; height: 50px; line-height: 50px; margin: 0 50px 0 0; padding: 0;}
.navbar h2.catalog i{vertical-align: middle; padding: 0 5px 5px 0;}


/* categories list */
#products-categories{margin: -20px 0 20px 0; padding: 10px 0 0 0; border: 1px solid #ddd; border-top: 3px solid #00ABF0; }
#products-categories li{list-style-type:none;}
#products-categories li{}
#products-categories li a{
	text-decoration:none;
	padding:0 5px;
    font-size: 14px;
    color:#464646;
    vertical-align: middle;
    display: block;
}
#products-categories li a:hover, #products-categories li a.active{color: #48AFEA;}
#products-categories li li{display:none;}
.cat-with-children, .cat-without-children{
    display: inline-block;
    width: 15px;
    height: 28px;
    margin: 0 0 0 6px;
    vertical-align: text-top;
}
.cat-with-children{background: url('../img2/checkbox-icon.png') no-repeat; }
.cat-without-children{background: url('../img2/checkbox-icon.png') no-repeat; }
#products-categories ul.level2{padding: 2px 0 10px 0; margin-left: 0;}
#products-categories li.level2{background: none;}
#products-categories li.level2>a{padding: 5px 0 5px 30px;}
#products-categories li.level2>a>i{display: none;}
#products-categories li.level2>a:hover{background: #F4B837; color: #fff;}
#products-categories li.level2>a.active{background: #E2A82B; color: #fff;}

/* search box */
.search-box{margin: 5px auto;}
.search-box form{margin: 0;}
.search-box form input[type="text"]{height: 24px; width: 85%; float:left; border-radius: 0;}
.search-box form input[type="submit"]{height: 34px; width: 34px; float: left; border: none; background: url('../img2/search-icon.png'); text-indent: 999px;}

/* slideshow */
#slider-container{position: relative; width: 852px; height: 296px; margin: 0 auto; overflow: hidden;}
#slider{
    position: relative;
    width: 852px;
    height: 296px;
}
.slider-arrow-left{background: url('../img2/slider-arrow-left.png') no-repeat; width: 30px; height: 50px; position: absolute; top:100px; left: 0; z-index: 9; cursor: pointer;}
.slider-arrow-right{background: url('../img2/slider-arrow-right.png') no-repeat; width: 30px; height: 50px; position: absolute; top:100px; right: 0; z-index: 9; cursor: pointer;}

.full-box{background: #eee; border: 10px solid #ddd; padding: 15px; margin: 5px 0;}

/* products grid */
.products-grid {margin: 0;}
.products-grid th,
.products-grid td{ border: none; padding: 10px 10px 10px 0;}
.products-grid td .add-product{
    margin: 3px 0 3px 3px;
    width: 250px;
    height: 260px;
    padding: 8px;
    border: 1px solid #ddd;
}
.product_image_container{text-align: center;}
.product-title{text-align: center; padding-top: 5px; height: 65px; overflow: hidden;}
.product-title a{color:#444;}
.product-title a:hover{color:#3498db; text-decoration: none;}
.product-buy{text-align: center;}
.product-price{margin:5px 3px;font-weight: bold; font-size: 16px; color: #E2A82B;}
.product-old-price{margin:5px 3px;font-weight: normal; font-size: 14px; text-decoration: line-through;}

.post-tags a{
    background:#3BA9E9;
    color:#fff;
    text-decoration:none;
    padding:5px;
}

.post-tags a:hover{
    background:#1C1C1C;
    text-decoration:none;
}


#find-book{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
}
#show-grid-icon{
    background: url('../img2/show-grid-icon.png') no-repeat; width: 30px; height: 30px; float: left; padding-left: 10px;
}
#show-list-icon{
    background: url('../img2/show-list-icon.png') no-repeat; width: 30px; height: 30px; float: left; padding-left: 10px;
}
.pagination.pull-right{
    margin: 0;
}

/* footer */
footer{background: #eee; margin-top: 20px; padding-top: 8px;}
footer .copyright{background: #444;text-align: center; color: #fff; font-size: 12px; height: 35px; line-height: 35px;}
.logo-bottom{background: url('../img2/logo-bottom.png') no-repeat; width: 197px; height: 90px; float: right; margin-top: 20px;}

footer h3{text-transform: uppercase; color: #00ABF0; font-size: 14px; font-weight: normal; margin-bottom: 0; }
footer .nav>li{ line-height: 25px; }
footer .nav>li>a{ color: #444; }
footer .nav>li>a:hover{ color: #444; background: none; text-decoration: underline;}
footer .email-icon{background: url('../img2/email-icon.png') no-repeat; width: 34px; height: 34px; padding: 5px 5px 5px 0;}
footer .mobile-icon{background: url('../img2/mobile-icon.png') no-repeat; width: 34px; height: 34px; padding: 5px 5px 5px 0;}
footer .phone-number{font-weight: normal;}

.social-icon{width: 32px; height: 32px; display: block; float: left; margin: 10px 10px 0 0;}
.social-google{background: url('../img/sprites.png'); background-position: -160px -350px; }
.social-twitter{background: url('../img/sprites.png'); background-position: -195px -350px;}
.social-vkontakte{background: url('../img/sprites.png'); background-position: -230px -350px;}
.social-odnoklasniki{background: url('../img/sprites.png'); background-position: -265px -350px;}

/* Noscript Notice */
.noscript { border:1px solid #ddd; background:#ffff90; text-align:center; color:#2f2f2f; }
.noscript .noscript-inner { width:1000px; margin:0 auto; padding:12px 0 12px; }
.noscript p { margin:0; }