/* main */
#page{min-width: 1146px; padding:0;}
header{padding-top:15px; background: #f6f6f6; margin-top:-20px;}
footer{}
aside{}
#errors{color:red;}
.required, .red{color:red;}
.success, .green{color:green;}
.fl{float:left;}
.fr{float:right;}
.navbar .btn {margin-top:0;}
a{outline: none;}

.left-sidebar{width: 263px; float: left;}
.main{width: 600px; float: left; margin: 0  10px;}
.right-sidebar{width: 263px; float: left;}

/* logo */
.main-logo{display: block; background: url('../img/main-logo.png'); width: 308px; height: 64px;}
.main-logo-text{font-size: 12px; color: #1e3954;}

/* phones */
.phone-number{font-size: 18px;font-weight: bold;color: #9a9a9a; line-height: 150%;}
.phone-highlight{color:#1b89c8;}
.phone-operator{font-size: 12px; font-weight: normal;}

/* call center */
.call-center-title{font-size: 13px; color: #999; line-height: 220%;}
.call-center-row{font-size: 16px; color: #666; line-height: 190%;}

.info-bar{background: #ededed; border-bottom: 1px solid #e8e8e8; border-top: 1px solid #e8e8e8; height:30px; margin: 15px 0;}

/* cart */
#cart{
    background: url('../img/cart.png');
    width: 164px;
    height: 106px;
    padding: 10px 0 0 100px;
}
#cart h3{display:none;}

.wrapper{width: 1146px; margin: 0 auto;}

/* catalog */
.catalog{background: url('../img/catalog-bg.png') repeat-y; width: 263px;}
.catalog-top{background: url('../img/catalog-top.png') no-repeat; height: 59px;}
.catalog-bottom{background: url('../img/catalog-bottom.png') no-repeat; height: 15px;}

/* categories list */
#products-categories{margin-left:0;}
#products-categories li{list-style-type:none;}
#products-categories li{}
#products-categories li a{
	text-decoration:none;
	/*line-height:28px;*/
	padding:0 5px;
    font-size: 13px;
    color:#464646;
    vertical-align: middle;
    display: block;
    /*height: 28px;*/
}
#products-categories>li.level1>a{text-transform: uppercase;}
#products-categories li a:hover, #products-categories li a.active{color: #48AFEA;}
#products-categories li li{display:none;}
.cat-with-children, .cat-without-children{
    display: inline-block;
    width: 10px;
    height: 28px;
    margin: 0 0 0 11px;
    vertical-align: text-top;
}
.cat-with-children{background: url('../img/cat-circle-grey.png') no-repeat 0 6px; }
.cat-without-children{background: url('../img/cat-circle-blue.png') no-repeat 0 6px; }
#products-categories li.level2{background: url('../img/cat-level2.png') no-repeat 0 10px;}

/* search box */
.search-box{width: 583px; height: 114px; background: url('../img/search-box.png'); margin: 0 auto;}
.search-box form{padding: 23px 0 0 25px; margin-bottom: 0;}
.search-box form input[type="text"]{height: 27px; width: 403px; border: none;}
.search-box form input[type="submit"]{height: 39px; width: 107px; border: none; background: url('../img/btn-search.png'); margin: -5px 0 0 0; padding-right: 20px;}
.search-example{padding:10px 20px; color: #fff;}
.search-example span{border-bottom: 1px dashed #fff;}

/* slideshow */
#slider-container{position: relative; width: 600px; height: 210px;}
#slider{
    position: relative;
    width: 579px;
    height: 194px;
    border: 2px solid #CACACA;
    border-radius: 5px;
    margin: 25px auto 0 auto;
}
.slider-arrow-left{background: url('../img/slider-arrows.png') 0 0; width: 25px; height: 43px; position: absolute; top:80px; left: 4px; z-index: 9; cursor: pointer;}
.slider-arrow-right{background: url('../img/slider-arrows.png') -26px 0; width: 25px; height: 43px; position: absolute; top:80px; right: 4px; z-index: 9; cursor: pointer;}
#slider-nav{margin-left:260px;}
#slider-nav .pager-item{
    background: #CACACA;
    height: 9px;
    width: 9px;
    float: left;
    padding:6px;
}
#slider-nav .pager-item:first-child{border-bottom-left-radius: 5px;}
#slider-nav .pager-item:last-child{border-bottom-right-radius: 5px;}
#slider-nav .pager-item a{
    display: block;
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 5px;
}
#slider-nav .pager-item a:hover,
#slider-nav .pager-item.active-slide a{height:9px; width:9px; background: #47A7E1; border: 1px solid #fff;}

/* products grid */
.products-grid th,
.products-grid td{ border: none; }
.products-grid td .add-product{ background: url('../img/book-box.png') no-repeat; margin: 3px; width:265px; height: 189px; padding: 12px 16px 12px 8px;}

.product-title{height: 130px;}
.product-buy{background: #f7f7f7; margin-left:-15px;}
.product-price{margin:5px 3px;font-weight: bold; font-size: 14px; color: #194e6d;}
.product-old-price{margin:5px 3px;font-weight: normal; font-size: 14px; text-decoration: line-through;}

.post-tags a{
    background:#3BA9E9;
    color:#fff;
    text-decoration:none;
    padding:3px;
    -webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.post-tags a:hover{
    background:#1C1C1C;
    text-decoration:none;
}


#find-book .fb-output-screen{width:auto;}
#find-book ul{margin:0;}
#find-book li{list-style-type:none;}
#find-book .fb-output-screen .list-row-odd{background:#F5F5F5;}
#find-book .fb-output-screen .list-row-even{background:#EEE;}

.head-about{background: url('../img/2lines.png') repeat-x 0 13px; text-align: center; font-size: 22px; color: #a7a7a7; }
.head-about span{background: #fff; padding: 0 5px;}

/* footer */
footer{background: #f6f6f6; margin-top: 20px;}
footer .copyright{background: #1E3954;text-align: center; color: #fff; font-size: 12px; height: 35px; line-height: 35px; margin-top:10px;}
.small-logo{background: url('../img/small-logo.png'); width: 208px; height: 47px;}
.small-logo-text{font-size: 12px; color: #1e3954;}

.social-icon{width: 32px; height: 32px; display: block; float: left; margin: 10px 10px 0 0;}
.social-google{background: url('../img/social-icons.png'); background-position: 0 0; }
.social-twitter{background: url('../img/social-icons.png'); background-position: -35px 0;}
.social-vkontakte{background: url('../img/social-icons.png'); background-position: -70px 0;}
.social-odnoklasniki{background: url('../img/social-icons.png'); background-position: -105px 0;}