#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#Mr Developer
.mr.developer.cfg
.idea
/application/logs
/application/cache
/images/captcha
/user_guide
/books-changes.txt
*.minify.css
*.minify.js
/pi.php
