.quiz-question-answered{
	background:url('../images/quiz/answered.gif') no-repeat;
	padding-left:20px !important;
	font-weight:bold;
}

.quiz-question-wrong{
	background:url('../images/quiz/wrong.gif') no-repeat;
	padding-left:20px !important;
	font-weight:bold;
}

.quiz-answer{
	width:16px;
	height:16px;
	display:block;
	float:left;
}

.quiz-answer-correct{
	background:url('../images/quiz/correct.gif') no-repeat;
}

.code{
	background:#FAFAFA;
	border:1px solid #555;
	padding:10px;
	margin:5px 0;
	position:relative;
	z-index:1;
}

.code .plast{
    position:absolute;
    top:-100px;
    left:-10px;
    right:-10px;
    bottom:-10px;
    z-index:2;
    background:url('../images/spacer.gif');
}

#quiz-timer{
    color:red;
    height:30px;
    line-height:30px;
    border:1px solid #ccc;
    width:30px;
    padding:0 5px;
    float:right;
}

#quiz-form input[type=submit]{
    margin: 10px 0;
}

/* Multi-radio: start */
.multi-radio-connected-answers-list{
    float: left;
    list-style-type: none;
    margin: -10px 3px 9px 3px;
}

.multi-radio-answers-list{
    float: left;
    list-style-type: none;
    margin: -10px 3px 9px 20px;
}

.multi-radio-row{
    clear: both;
}

.multi-radio-row input[type=radio]{
	margin: 3px;
    border: 1px solid #000;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.multi-radio-row input[type=radio]:checked {
    background: #000;
}

.multi-radio-row input[type=radio].correct.checked {
    background: #f5ff38;
}

.multi-radio-row input[type=radio].incorrect {
    background: #fff;
    border: 1px solid #f00;
    color: #f00;
    text-align: center;
    line-height: 100%;
}
.multi-radio-row input[type=radio].incorrect:after,
.multi-radio-row input[type=radio].correct:after{
    content: "X";
}

.multi-radio-row input[type=radio].correct {
    background: #fff;
    border: 1px solid #1dbf48;
    color: #1dbf48;
    text-align: center;
    line-height: 100%;
}

.multi-radio-row input[type=radio]:focus {
    outline-color: transparent;
}

.multi-radio-chars{
    margin-left: 9px;
    clear: both;
}

.multi-radio-chars>div{
    margin: 0 8px;
    float: left;
}
/* Multi-radio: end */