#commentsbox{
	width:100%;
	margin:10px 0;
}

#commentsbox #respond{
	margin-bottom:10px;
}

#commentsbox #respond a{
    font-size:110%;
}

#commentsbox ul.commentlist{
	margin:0 0 0 30px;
	padding:0;
}

#commentsbox ul.commentlist ul{
    
}

#commentsbox .commentlist li{
	margin:0;
	padding:0;
	list-style-type:none;
}

#commentsbox .commentlist li.sub-level{
	border-top:1px solid transparent;/*fix for IE*/
}

#commentsbox .commentlist li.comment{
	margin:3px 0;
	padding:3px;
	border:1px solid #ccc;
}

#commentsbox ul.commentlist li{
    background:transparent;
}

#commentsbox ul.commentlist li.alt{
	background:#EFEFEF;
}

#commentsbox .commentlist li cite{
	font-weight:bold;
}

#commentsbox li.comment .comment-author{
    padding-bottom:5px;
}

#commentsbox li.comment div{
    margin-top:5px;
}

#commentsbox li.comment .add-comment{
	text-align:right;
	margin-bottom:5px;
}

#commentsbox li.comment .add-comment a{
	text-decoration:none;
}

#commentsbox li.comment .add-comment a:hover{
	text-decoration:underline;
}

#commentform{
    padding:3px 5px;
}

#commentform p{
    padding:4px;
}

#commentsbox label{
    display:inline;
}