.poll .question, .poll-results-box .question{
    font-weight:bold;
}

#sidebar #poll-answers li
{
    padding:4px 0;
}

.poll-results-box
{
    width:95%;
}

.poll-result-bar
{
    color:#222;
    height:20px;
    line-height:20px;
    padding:0 3px;
    margin:2px 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    behavior:url('/PIE.htc');
    position:relative;
    margin:10px 0;
}

.poll-result-bar span
{
    white-space: nowrap;
}

.poll label{
    display:inline;
}