html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, output, section, summary{
	display:block;
}
meter,progress,mark, time{
	display:inline;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
html, body {
	height:100%;
}
html {
	min-width:586px;
}
body {
	background:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:1em;
	color:#000;
	position:relative;
	
}
img {
	border:0;
	vertical-align:top;
	text-align:left;
}
object {
	vertical-align:top;
	outline:none;
}
ul, ol {
	list-style:none;
}
table, table td {
	padding:0;
	border:none;
	border-collapse:collapse;
}
a.und, .und a {
	text-decoration:none;
}
a.und:hover, .und a:hover {
	text-decoration:underline;
}
/*==== GLOBAL =====*/
aside{
	width:586px;
	min-height:100%;
	background: url(../images/aside-top.png) 0 110px repeat-x #000;
	position:relative;
	overflow:hidden;
	z-index:10;
	color:#868686;
	font:11px/20px Verdana, Geneva, sans-serif;
}

footer {
	position:fixed;
	background:#000;
    opacity: 0.8;
	min-width:750px;
	width:100%;
	height:100px;
	bottom:0;
	left:0;
	z-index:10;
}

body>.glob{
	width:100%;
	min-width:750px;
	position:relative;
	min-height:940px;
	height:100%;
	overflow:hidden;
}

/*----- forms parameters -----*/

input, select, textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
	margin:0;
}

textarea{
	overflow:auto;
}
/*----- other -----*/

.button{
	font:18px/44px Arial, Helvetica, sans-serif;
	color:#333;
	text-transform:uppercase;
	text-decoration:none;
	display:inline-block;
	padding:0 20px;
	background:url(../images/button-sprite.png) 100% -44px no-repeat,url(../images/button-sprite.png) 0 0 no-repeat;
}

.button>span.meth{
	color:#fff;
	display:inline-block;
	width:40px;
	background:none;
	margin-left:5px;
}

.button>span.wrap{
	display:inline-block;
	background:#fff;
	padding-right:5px;
	background:url(../images/button-sprite.png) 0 -88px repeat-x;
}

p {
	margin-bottom:20px;
}
.p2 {
	margin-bottom:20px;
}

.white{
	color:#fff;
}
/*----- txt, links, lines, titles -----*/
a {
	color:#fff;
	outline:none;
}
a:hover {
	text-decoration:none;
}

/*======aside========*/

nav{
	height:100px;
	background:#000;
	padding:23px 0 0 29px;
	border-bottom:1px #292929 solid;
}

nav li{
	float:left;
	margin-right:10px;
}

nav li a{
	font:32px/64px Arial, Helvetica, sans-serif;
	color:#fff;
	padding:0 18px 6px 18px;
	display:inline-block;
	text-decoration:none;
}

nav li.active a{
	color:#6b6b6b;
}

nav li a:hover,nav li.active a{
     color:#6b6b6b;
     background: #333;
     border-radius: 15px;
 }

nav li.active a{
    background: #1A1A1A;
}

nav li.active .__mbgh__{
	visibility:visible;
}

.button-method{
	cursor:pointer;
	display:inline-block;
	margin:20px 0 32px 20px;
}

body .gall_prev{
	position:fixed;
	left:110px;
	top:50%;
	z-index:2;
	cursor:pointer;
	width:148px;
	height:148px;
	background:url(../images/prev-next.png) 0 0 no-repeat;
	display:none;
	margin-top:-74px;
}

body .gall_next{
	position:fixed;
	right:110px;
	top:50%;
	z-index:2;
	cursor:pointer;
	width:148px;
	height:148px;
	background:url(../images/prev-next.png) 100% 0 no-repeat;
	display:none;
	margin-top:-74px;
}


#thumbs li{
	float:left;
	margin:0 9px 9px 0;
	position:relative;
	border:1px solid #000;
}

#thumbs li a{
	position:relative;
	z-index:1;
	display:block;
}

#thumbs li a .fader{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(../images/fader.png) #060606;
	display:none;
	z-index:2;
	cursor:pointer;
}

#thumbs li.current{
	border:1px solid #fff;
}

.scroll{
	width:514px;
	height:690px;
	overflow:auto;
	padding:0 20px;
	position:relative;
}

.pages{
	width:2344px;
	position:relative;
}

.page{
	margin:20px 0 0 0;
	width:586px;
	float:left;	
}

.page h2{
    font-size: 180%;
    font-weight: normal;
    margin-bottom: 10px;
}

.page h3{
    font-size: 140%;
    font-weight: normal;
    margin-bottom: 10px;
}

.page ul.makeup-types{
    list-style-type: circle;
    margin-left: 15px;
}

#page1{
	margin-top:10px;
}

/*===== footer =====*/
footer h1{
	position:absolute;
	left:47px;
	top:20px;
}

footer h1 a{
	font:46px/1.2em Arial, Helvetica, sans-serif;
	color:#fff;
	z-index:10;
	text-decoration:none;
}

footer h1 .slogan{
	font:14px Verdana, Geneva, sans-serif;
	color:#868686;
	position:absolute;
	left:420px;
	top:30px;
	white-space:nowrap;
}

footer .privacy{
	color:#868686;
	position:absolute;
	top:50px;
	right:50px;
	font:11px Verdana, Geneva, sans-serif;
}
/*----- forms -----*/

#contact_form{
	width:464px;
	overflow:hidden;
}

#contact_form label{
	float:left;
	margin-bottom:24px;
}

#contact_form input,#contact_form textarea{
	float:left;
	width:456px;
	border:1px #363636 solid;
	background-color:#1B1B1B;
	padding:4px 0 4px 6px;
	font:11px Verdana, Geneva, sans-serif;
	color:#868686;
}

#contact_form textarea{
	height:220px;
}

#contact_form .btns a{
	margin-right:30px;
}

#errors p{
    margin-bottom:1px;
}

/*==========================================*/

.spinner{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:10;
	background:url(../images/ajax-loader.gif) no-repeat 50% 50%;
}

/*==========================================*/
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background:#333;
	border-radius:5px;
}
.jScrollPaneDrag {
	position: absolute;
	background:url(../images/shattle.png);
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

/* pagination */
a.paginator{
    padding: 4px 8px;
    background: #2E2E2E;
    border-radius: 10px;
    text-decoration: none;
    font-size: 180%;
}
a.paginator:hover{
    color: #CAB113;
}
a.paginator.active{
    color: #6B6B6B;
}

/* Noscript Notice */
.noscript { border:1px solid #ddd; background:#ffff90; text-align:center; color:#2f2f2f; }
.noscript .noscript-inner { width:1000px; margin:0 auto; padding:12px 0 12px; }
.noscript p { margin:0; }
