#header{
}
	#home-btn{width:30px;height:30px;}

	#header .ui-title{font-size:30px;}
#footer{
	text-align:center;
	padding:10px 0;
}

.fl{float:left}
.fr{float:right}
.clear{clear:both}
.article-content{padding:5px 0}

.product-price{color:#2E7F28;}
.product-old-price{text-decoration:line-through;}
.form-products-toolbar{border:1px solid #ccc;padding:5px;}


/* Pagination */
.pagination{
	text-align:left;
	clear:both;
    padding:15px 0;
}

.pagination p{
    display:block;
    float:left;
    vertical-align:middle;
}

	.pagination a:link, .pagination p a:visited, .pagination strong{
		background:#0E8EBB;
		padding:2px 6px;
		text-decoration:none;
		color:#fff !important;
	}
	
	.pagination strong{
	   background:#BFE5F3;
	   color:#333 !important;
	}
	
	.pagination p a:hover{
		background:#BFE5F3;
		text-decoration:none;
		color:#333 !important;
	}
