.fb-output-screen{
    width:99%;
    padding:0;
    margin:0;
}
.fb-output-screen>form>ul{
    margin:0;
}
.fb-output-screen>form>ul>li {
    list-style-type:none;
}
.fb-output-screen .list-row-odd{
    background:none;
}
.fb-output-screen .list-row-even{
    background:none;
}