.fb-output-screen { 
	margin: 15px auto; 
	width: 900px; 
	padding:15px; 
	font-size: 14px; 
	border: 1px solid rgb(204, 204, 204); 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	font-family: Verdana,Tahoma,sans-serif; 
}
.fb-output-screen form { 
	letter-spacing: 0.05em; 
	text-align: left; 
}
.fb-output-screen h2 { 
	font-size:120%; 
	font-weight:bold; 
	margin:3px; 
}
.fb-output-screen ul { 
	clear: both; 
}
.fb-output-screen li { 
	width: 100%;  
}
.fb-output-screen li.fb-container { 
	
}
.fb-output-screen .list-row-odd { 
	width: 98%; 
	padding: 6px 1%; 
	background:#eee; 
}
.fb-output-screen .list-row-even { 
	width: 98%; 
	padding: 6px 1%; 
	background:#ddd; 
}
.fb-output-screen .col-of-2-cols {
	width:48%;
	float:left;
}
.fb-output-screen .col-of-3-cols {
	width:31.3%;
	float:left;
}
.fb-output-screen li[skip_rule]{ 
	display:none; 
}
.fb-output-screen ul:after, 
.fb-output-screen li:after, 
.fb-output-screen li div:after { 
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden 
}
.fb-output-screen label.desc, 
.fb-output-screen legend.desc { 
	font-weight: bold; 
	line-height: 150%; 
	padding: 0 0 3px; 
	display: block; 
	white-space: normal; 
	width: 100%; 
}
.fb-output-screen label.label-on-the-side,
.fb-output-screen legend.label-on-the-side {
	width:50%;
}
.fb-output-screen div.input-on-the-side {
	width:50%;
	float:left;
}
.fb-output-screen input[type=text], 
.fb-output-screen input[type=password], 
.fb-output-screen input[type=file], 
.fb-output-screen textarea, 
.fb-output-screen select { 
	font-family: Verdana,Tahoma,sans-serif; 
	font-size: 100%; 
	color: rgb(51, 51, 51); 
	margin: 0; 
	padding: 2px 0; 
}
.fb-output-screen input[type=text], 
.fb-output-screen input[type=password], 
.fb-output-screen textarea { 
	border-width: 1px; 
	border-style: solid; 
	border-color: rgb(124, 124, 124) rgb(195, 195, 195) rgb(221, 221, 221); 
}
.fb-output-screen textarea { 
	min-width: 100%; 
	max-width: 100%; 
}
.fb-output-screen input[name=captcha] {
    width:148px;
}
.fb-output-screen fieldset { }
.fb-output-screen label.choice { 
	display: block; 
	cursor: pointer; 
	line-height: 150%; 
	margin: -17px 0 0 23px; 
	padding: 0 0 5px; 
	width: 88%; 
}
.fb-output-screen .answerset-table { 
	width:100%; 
}
.fb-output-screen .answerset-table .col-odd { 
	background:#eee; 
}
.fb-output-screen .answerset-table .col-even { 
	background:#ddd; 
}
.fb-output-screen input[type=button], 
.fb-output-screen input[type=submit], 
.fb-output-screen input[type=reset], 
.fb-output-screen button {
	background-color: #ddd;
	color: #333;
	border: 1px solid #333;
	padding: 1px 5px 1px 5px;
	cursor:pointer;
	margin:1px;
}
.fb-output-screen input[type=button]:hover, 
.fb-output-screen input[type=submit]:hover, 
.fb-output-screen input[type=reset]:hover, 
.fb-output-screen button:hover {
	background-color: #eee;
}

/* Flash Messages (Errors, Success) */
.fb-output-screen div.error p, div.success p{
	padding:8px 8px 8px 25px;
	border:1px solid #999;
	margin:5px 0;
}

.fb-output-screen div.error p{
	background:url('icons/sign_error.png') no-repeat 5px 5px;
}

.fb-output-screen div.success p{
	background:url('icons/sign_tick.png') no-repeat 5px 5px;
}

.fb-output-screen .red {
    color:red;
}